#caja {
    margin: 10px;
    width: 350px;
    height: 350px;
    border: 5px dashed gray;
    border-radius: 8px;
    background: rgb(230,230,230);
    background-repeat: no-repeat;
    background-size: 100%;
}